.large-text-box{
    height:20vh;
    width:30vw;
    
}
#write-poem-form{
    font-size:14pt;
    float:left;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size:18pt;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align:center
}

.paragraph{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:14pt;
}

.img-container{
    position:relative;
    text-align:center
}

