.large-text-box{
    height:20vh;
    width:30vw;
    resize:none;
    font-size:12pt;
    
}


#write-form{
    text-align:center;
    font-size:14pt;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;

}

h1{
    font-size:18pt;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align:center
}

.paragraph{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:14pt;
}

.img-container{
    position:relative;
    text-align:center
}

.hidden{
    display:none;
}

.title{
    text-align:center;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18pt
}
.title img{
    position:absolute;
    left:5px
    
}

